*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'pt sans';
}
.container{
  width: 90%;
  margin: 0 auto;
  
}
.container-small{
  width:80%;
  margin: 0 auto;
  max-width: 1153px;
}

li{
  list-style: none;
  margin-right: 30px;
  align-items: center;
  display: flex;
 
}
.btn{
  text-decoration: none;
  border-radius: 20px;
  
  
}
.btn.white{
  background-color: white;
  padding: 10px 15px;
  color: black;

}
h2{
  font-size: 1.7rem;
}
h3{
  font-size: 1.3rem;
}
p{
  line-height: 30px;
}
/* UTILITY */
.debug{
  background-color: green;
  border: 1px solid black;
}
.d-flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.purple{
  background-color: #9792e4;
}
.black{
  background-color: black;
}
/* HEADER */
header{
  background-color: #0084fd;
  color: white;
  height: 75px;
  position:fixed;
  width: 100%;
  z-index: 999;
}
.top{
  justify-content: space-between;
  align-items: center;
  height: 75px;
  
}
.nav{
  display: none;
  
}
/* MAIN */
main{
  padding-top: 75px;
}
.card{
  border-radius: 20px;
  text-align: center;

}
/* GET DEMO */
.demo .card{
  background-color: #b5ddff;
  margin-top: 25px;
}
.demo .card:first-child{
  height: 605px;
  text-align: left;
}
.card:first-child h3{
  padding: 36px 36px 0px 36px;
}
.demo .card:last-child{
  margin-bottom:80px ;
}
.demo .card img{
  width:250px;
  position: relative;
  top: 50px;
}
.demo .title{
  color: #0084fd;
  
}
.demo .logo{
  font-size: 80px;
  margin: 20px 0px;
}
.demo p{
  padding: 36px;
  
}
.demo .card:first-of-type p{
  width:347px;
}
.btn.blue{
  background-color: #0084fd;
  padding: 10px 45px;
  color: white;
  margin-left:36px;
}
/* STRATEGIC PLANNING */
.col.left{
  margin-top:70px;
  margin-bottom: 35px;
  color: white;
}
.col.left img{
  padding-bottom: 70px;

}
.col.left h2{
  margin-bottom: 50px;

}
.col.right{
  margin-bottom:70px;
  background-color: white;
  border-radius: 50px;
}
.col.right img{
  padding-top: 30px;
}
.col.right h3{
  padding: 20px 0;
}
.col.right p{
  padding: 0 20px 30px 20px ;
  font-style: italic;
  
}
.col.right i{
  padding: 17px;
  background-color: #9792e4;
  border-radius: 50%;
  margin-bottom: 30px;
}
.strategic img{
  width:100%;
}

/* TESTIMONIALS */
.testimonials-top{
  margin-top: 70px;
  text-align: center;
}
.testimonials.card{
  margin-top:30px;
  color: white;
  border-radius: 50px;
}
.testimonials-top h2{
  color: #9792e4;
  padding:30px 0 40px 0;

}
.testimonials-top p{
  padding: 0 18px 0 18px;
  margin-bottom: 15px;

}

.testimonials.card:last-child{
  margin-bottom: 100px;
}
.testimonials img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin:30px 0;
}
.signature{
  padding:35px 0;
  font-weight: 700;
}
/* BENEFITS */
.benefits-top{
  height: 85px;
  margin: 70px 0px;
}
.benefits .card{
  height:400px;
  margin-bottom: 30px;
  

}
.benefits .card:last-child{
  margin-bottom: 60px;

}
/* ABOUT US */
.about-us-left{
  height:950px;
  margin:90px 0 60px 0;
}
.about-us-right{
  height: 435px;
  margin-bottom: 80px;
}
/* FOOTER */
.footer-top{
height: 490px;
margin: 65px 0px;
}
.footer-bottom{
  height:160px;
  margin: 40px 0px;
}

@media screen and (min-width:768px){
  .container{
    width:720px;
  }
  .demo, .benefits, .about-us{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .demo .card{
    width: 32%;
    height: 436px;
  }
  .demo .card:first-child{
    width: 66%;
  }
  .demo .card:nth-child(-n + 2){
    height: 565px;

  }
  .demo .card:first-of-type p{
    width:100%;
  }
  .col.right img{ 
    padding: 30px 75px 0 75px;
  }
  .testimonials.card{
    display: flex;
    
  }
  .testimonials img{
    margin-left: 30px;
    margin-right: 30px;
  }
  .testimonials .right{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 65px 45px 0px 0;
    

  }

  .benefits .card, .about-us-left, .about-us-right{
    width: 48%;

  }
  .about-us-left{
    margin-bottom: 160px;
  }
  .about-us-right{
    margin-top: 90px;
  }
  .demo .card img{
    top: 40px;
  }
}
@media screen and (min-width:1200px) {
  .container{
    width:1140px;
  }
  .nav-icon{
    display: none;
  }
  .nav{
    display: flex;
  }
  .demo .card:first-child{
     display: flex;
  }
  .demo .card img{
    top: 66px;
  }
  .demo .card, .demo .card:nth-child(-n + 2){
    
    height: 345px;
  }
  .strategic{
    flex-direction: row;
    
  }
  .col{
    width:50%;
  }
  .col.left{
    margin: 130px 60px 0 0;
    
  }
  .col.left img{
    padding-bottom: 110px;
    
  }
  .col.right{
    margin-top:300px
    
  }
  .benefits .card{
    width: 31%;

  }
}